header {

  p {
    margin: 0;
    font-weight: bold;
    font-size: 22px;
  }

  .date {
    text-align: left;
  }
  .add-task {
    text-align: center;
  }
  .time {
    text-align: right;
  }

}



main {

  h1 {
    font-size: 14px;
    border-bottom: 1px solid $grey;
    margin: 0 0 10px 0;
    padding-bottom: 10px
  }

}


footer p {
  margin: 0;
}